<div class="left-side-bar">
    <p>
        <button class="btn btn-primary" (click)="onMaterClick()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          MASTER
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <button class="btn btn-primary" (click)="onUserClick()">User</button>
        </div>

        <div class="card card-body">
            <button class="btn btn-primary">Products</button>
          </div>
      </div>
</div>
<div class="main-window">
    <router-outlet></router-outlet>
</div>